@import "tailwindcss";

@theme {
  --color-accent: #00ff66;
  --color-surface: #161616;
  --color-bg: #0c0c0c;
  --color-border: #333333;
  --color-text-secondary: #888888;
  
  --font-mono: "Courier New", Courier, monospace;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
